<div style="text-align:center" class="bg-dark text-white">
  <h2>DashboardAdmin</h2>

  <div align="right">
    <h2 align="center">Product cart payment informations</h2>
    <button class="btn btn-light" (click)="back()">
      <<Back</button> </div> </div>

  <div class="card  shadow text-black bg-light ">
    <table id="cartList" class="table  table-row table-condensed table-bordered display nowrap" style="width:100%">
      <thead class="text-white bg-dark">
        <tr class="table-row table-striped text-black shadow">
          <th scope="col">#</th>
          <th scope="col">Product</th>
          <th scope="col">Price</th>
          <th></th>
          <th scope="col">Confirm cart</th>
        </tr>
      </thead>
    </table>
  </div>