<div class="container" style="margin-top:150px">
  <div class="row ">
    <div class=" col-sm-12 col-md-10  col-lg-6 mx-auto">
      
      <div class="card" style="background-color: white; border-color: black">
        <div class="col-sm-10 col-md-10 col-lg-10 mx-auto text-center">
          <h3 class="mt-4">
            <span class="first">F</span>
            <span class="second">u</span>
            <span class="third">n</span>
            <span class="fourth">d</span>
            <span class="fifth">o</span>
            <span class="sixth">o</span>
          </h3>
          <h4 class="mt-3" style="color:black">Admin Login Page</h4>
        </div>
        <div class="card-body">
          <form class="form">
            <div class="row">
              <div class="col-sm-10 col-md-10 col-lg-8 mx-auto" style="margin-top:10px;">
                <input type="email" class="form-control" name='email' id="email" placeholder="Email" required>
              </div>
              <div class="col-lg-8 col-sm-10 col-md-10 mx-auto" style="margin-top:10px; ">
                <input type="password" class="form-control" id="password" name='password' placeholder="Password" required>
              </div>
            </div>
            <h6 style="color:red;padding-left: 100px"></h6>
            <div class=" col-sm-12 col-md-10  col-lg-6 mx-auto text-center" style="margin-top:20px">
              <button type="submit" style="background-color:lightblue" class="btn  btn-block">Next</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>